@import "_fonts";
@import "_colors";
@import "_mixins";
@import "_dimensions";

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: $bg-color;
  }
  
  .bm-burger-bars-hover {
    background: $white;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: $orange;
  }
  
  .bm-menu-wrap {
    position: fixed;
    color: $white;
    font-family: $tipo_general;
    font-size: map-get($fs, large);
    @include flexbox(column, center, center);
    flex-wrap: wrap;
  }
  .bm-menu {
    background: $bg-color;
    padding: 2.5em 1.5em 0;
    font-size: .9em;
    a:hover{
      color: $orange;
    }
    ul{
      text-decoration: none;
      list-style:none;
      padding-inline-start: 0;
    }
    li{
      margin: 12px;
    }
  }
  
  @media screen and (max-width: 500px){
    .bm-menu {
      font-size: .7em;
      li{
        margin: 10px;
      }
    }
  }

  .bm-morph-shape {
    fill: #373a47;
  }
  
  .btn{
    padding: 4px;
    margin-top: 2px;
    background-color: transparent;
    border: 1.5px $orange solid;
    border-radius: 20px;
    color: $white;
    width: 200px;
    line-height: 1.7;
    outline: none;
  }
  .btn:hover{
    color: $orange;
  }

  .bm-item-list {
    color: $white;
    padding: 0.8em;
  }

  .bm-item {
    display: block !important;
  }
  
  .bm-overlay {
    background:  rgba(46, 40, 67, .8)!important;
  }